<div class="span10 offset1">
  <div class="row">
    <div class="span10">
      <blockquote>
      <p class="read"><em><b>遺影</b>:遺影（いえい）とは、物故者を偲ぶために、作られる写真もしくは、肖像画。</em><br>
        本来は自分の気に入った写真を用意すべきだが大半が旅行や結婚式などに参加した時の集合写真などからの拡大・修正が多い。<br>
        今後は、デジタルカメラなどのデータで残された場合、家族が見つけることも困難である事から、後世に残す重要な写真として確実に保存する必要性がある。
      </p>
      </blockquote>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="span10">
      <p class="text-center">最後にみんなに見てもらう写真だからこそ、みんなが自分らしいと思う写真にしたい</p>
      <p class="text-center">素の自分、意外な自分、いつもの自分 そんな自分をみんなで選ぼう</p>
      <p class="text-center">そして声高らかに叫ぼう<b><em>Oh! Yeah</em></b></p>
    </div>
  </div>

  <% if !logged_in? %>
    <div class="row">
      <div class="span10">
        <p class="text-center"><a href="<%= facebook_oauth_path %>"><input type="button" class="btn btn-primary btn-large" value="facebook認証してはじめる"></a></p>
      </div>
    </div>
  <% end %>

</div>
